* {
  margin:0;
  padding:0;
}

body {
  background-color: #87be7e;
  text-align: center;
}

label, input, button {
  display: block;
  margin: 10px auto;
}

h1, h2{
  padding-top: 5px;
  padding-bottom: 10px;
}

#remove-box {
  width:100%;
  height:100%;
  position: absolute;
}

#top-box, #bottom-box {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height:50%;
  width:100%;
}

#top-box{
  background-color: #22c1c3;
}

#bottom-box{
  background-color:#fdbb2d;
}

.box-heading {
  color:linen;
}
